.chat__message1
  %h2.chat__message1__name ryosuke maehira
  %p.chat__message1__date 2016/10/02 06:27:07
  %p.chat__message1__message なるほど
.chat__message1
  %h2.chat__message1__name ryosuke maehira
  %p.chat__message1__date 2016/10/02 06:27:14
  %p.chat__message1__message 水色きれい
.chat__message1
  %h2.chat__message1__name ryosuke maehira
  %p.chat__message1__date 2016/10/02 06:27:14
  %p.chat__message1__message 水色きれい
.chat__message1
  %h2.chat__message1__name ryosuke maehira
  %p.chat__message1__date 2016/10/02 06:27:14
  %p.chat__message1__message 水色きれい



