.chat__message
  %h2.chat__message__name ryosuke maehira
  %p.chat__message__date 2016/10/02 06:27:07
  %p.chat__message__text なるほど
.chat__message
  %h2.chat__message__name ryosuke maehira
  %p.chat__message__date 2016/10/02 06:27:14
  %p.chat__message__text 水色きれい
.chat__message
  %h2.chat__message__name ryosuke maehira
  %p.chat__message__date 2016/10/02 06:27:14
  %p.chat__message__text 水色きれい
.chat__message
  %h2.chat__message__name ryosuke maehira
  %p.chat__message__date 2016/10/02 06:27:14
  %p.chat__message__text 水色きれい
