    %p チャットグループが作成されました

　%nav
    %div.nav__user
      %p ryousuke_maehira
      .nav__user
        %ul
           %li.ul__name ryousuke-maehira
           %li.ul__edit
             =link_to 'https://qiita.com/trend', class: "ul__edit__link", method: :get do
               =fa_icon "edit"
           %li.ul__cog
             =link_to 'https://qiita.com/trend', class: "ul__cog__link", method: :get do
               =fa-icon "cog"


