%body

  %header

    %div チャットグループが作成されました

  .sidebar
    = render "shared/sidebar"
  .chat
    .chat__header
      %h2 sampleグループ
      %p
        = current_user.name
      .edit edit

    .chat__messages
      = render "message"

    .chat__fotter
      %form
        %input{type: "text",class: "chat__fotter__text", placeholder: "type a message"}
        %label
          %span.chat__fotter__icon
            =fa_icon "image"
          %input{type: "file", class: "chat__fotter__filesend"}
          %input{type: "submit",class: "chat__fotter__submit", value:"send"}
