.sidebar__user
  %ul
    %li.av__user-name ryousuke-maehira
    %li.av__edit
      =link_to 'https://qiita.com/trend', class: "av__edit__link", method: :get do
        =fa_icon "edit"
    %li.av__cog
      =link_to 'https://qiita.com/trend', class: "av__cog__link", method: :get do
        =fa_icon "cog"
.sidebar__group
  = render "shared/group"
