.chat {
  height: calc(100% - 100px);
  width: calc(100vw - 300px);
  position: absolute;
  min-width: 300px;
  left: 300px;
  &__header {
    border:solid 2px #eeeeee;
    position: relative;
    h2{
      font-size: 20px;
      color: #333;
      padding: 35px 40px 0px 40px;
    }
    p{
      font-size: 12px;
      color: $light_gray;
      padding: 15px 40px 0px 40px;
    }
    .edit {
       height: 40px;
       border: solid 1px $light_blue;
       color: $light_blue;
       padding: 0 20px;
       text-align: center;
       line-height: 40px;
       position: absolute;
       right: 20px;
       top: 28px;
    }

  }
  &__messages {
    height: 100%;
    background-color: #FAFAFA;
    padding :6px 0 0 40px;
    overflow: scroll;
    .chat__message {
      &__name{
        padding-top: 40px;
        color: $black;
        font-size: 16px;
        font-weight: bold;
      }
      h2{
        float: left;
      }
      &__date{
        float: left;
        padding:40px 0 0 10px;
        font-size: 12px;
        color: $light_gray;
      }
      &__text{
        clear: both;
        font-size: 14px;
        margin-top: 10px;
      }
    }
  }
  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}

body {
  height:  100vh;
}
